.div-title {
    padding-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;

    & h2 {
        padding-top: 15px;
        margin-left: 10px;
    }
}

.container-list-product {
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}