.container-left {
    background-color: #fff;
    padding: 0 20px;
}
.back-button {
    color: #0a923c;
    background-color: white;
    border: 1px solid #0a923c;
    padding: 0 20px;
    position: relative;
    font-size: 16px;
    height: 40px;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 20px;
    &:hover {
        background-color: #10723A;
        border: 1px solid #10723A;
        color: #fff;
        cursor: pointer;
    }
}

.container-handle-many {
    display: flex;
    justify-content: space-between;
}

.select-all, .delete-all {
    display: flex;
    gap: 4px;
    font-size: 20px;
    color: #333;
    align-items: center;
    cursor: pointer;
}

.delete-all {
    &:hover {
        color: #0a923c;
    }
}

.square-div {
    display: flex;             
    justify-content: center;    
    align-items: center;        
    width: 25px;               
    height: 25px;        
    border: 1px solid #000;    
    cursor: pointer;          
    background-color: transparent;
    transition: background-color 0.3s;

    &.selected {
        background-color: #0a923c;
        color: white;
        border: #0a923c;     
    }
}


.tier-line {
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid #333;
}

.custom-list {
    padding: 0 20px;
}

.name-item {
    width: 40%;
}

.price-delete-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .delete-item {
        color: #0a923c;
        font-size: 22px;
    }
    .price-item {
        color: #0a923c;
        font-size: 22px;
    }
}