.container-left, .container-right {
    background-color: #fff;
    padding: 20px 20px 0 20px;
    border-radius: 5px;
}

.container-left {
    margin-right: 20px;
}

.back-button {
    color: #0a923c;
    background-color: white;
    border: 1px solid #0a923c;
    padding: 0 20px;
    position: relative;
    font-size: 16px;
    height: 40px;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 20px;

    .left-icon {
        margin-right: 5px;
    }


    &:hover {
        background-color: #10723A;
        border: 1px solid #10723A;
        color: #fff;
        cursor: pointer;
    }
}

.next-button {
    color: #0a923c;
    background-color: white;
    width: 100%;
    border: 1px solid #0a923c;
    margin: 20px 0;
    font-size: 16px;
    height: 40px;
    font-weight: 600;
    border-radius: 6px;

    .right-icon {
        margin-left: 5px;
    }

    &:hover {
        background-color: #10723A;
        border: 1px solid #10723A;
        color: #fff;
        cursor: pointer;
    }

}


.container-handle-many {
    display: flex;
    justify-content: space-between;
}

.select-all, .delete-all {
    display: flex;
    gap: 4px;
    font-size: 20px;
    color: #333;
    align-items: center;
    cursor: pointer;
}

.delete-all {
    &:hover {
        color: #0a923c;
    }
}

.square-div {
    display: flex;             
    justify-content: center;    
    align-items: center;        
    width: 25px;               
    height: 25px;        
    border: 1px solid #000;    
    cursor: pointer;          
    background-color: transparent;
    transition: background-color 0.3s;

    &.selected {
        background-color: #0a923c;
        color: white;
        border: #0a923c;     
    }
}

.tier-line__cart {
    border-bottom: 1px solid rgba(0, 0, 0, .09);;
    margin: 20px 0 10px 0;
}

.custom-list {
    padding: 0 20px;
}

.name-item {
    width: 40%;
    font-size: 15px;
    font-weight: 600;
    color: #373737;

    &:hover {
        cursor: pointer;
        color: #0a923c;
    }
}

.price-delete-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .delete-item {
        color: #0a923c;
        font-size: 22px;
    }
    .price-item {
        color: #0a923c;
        font-size: 22px;
    }
}

.span-address {
    color: #373737;
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
    display: block;
}

.span-title {
    color: #373737;
    font-size: 20px;
    font-weight: 500;
}

.container-price-right {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.provisional-price {
    font-size: 15px;
    color: #373737;
    font-weight: 400;
}

.total-price {
    font-size: 16px;
    color: #373737;
    font-weight: 500;
}

.span-note {
    color: #FF0000;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}

