.ant-modal-title {
    text-align: center !important;
}

.ant-modal-confirm-btns {
    padding-bottom: 10px;
    padding-right: 10px;
}

.ant-modal-confirm-title, .ant-modal-confirm-content {
    padding: 10px 10px 5px 10px;
}