@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, html, #root {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}

.go2420793703 .tsqd-transitions-container {
  display: none !important;
}



