@import '../../assets/styles/variables.scss';

.container-logo {
    height: 40px;
    padding-top: 10px;
    margin: 10px;
    padding-left: 5px;
    border-radius: 8px;
    overflow: hidden;
}

.brand-name {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-top: 0 !important;
    color: $primary-color
}
  
.logo {
    height: 30px;
    margin-right: 5px;
    margin-left: 15px;

}