.announcement-header {
    padding: 4px 16px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    width: 100vw;
    background-color: #10723A;
    text-align: center;
}
  
.header {
    padding: 10px 130px;
    background-color: #0A923C;
    display: flex;
    align-items: center;
}

.logo-container__header {
    display: flex;
    gap: 0px;
}
  
.brand-name {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    transform: translateY(20%);
    // margin-top: 20px;

    &:hover {
        cursor: pointer;
    }
}
  
.logo {
    height: 30px;
    color: #fff;

    &:hover {
        cursor: pointer;
    }
}

.container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header-icon {
    color: #fff;
    font-size: 30px;

    &:hover {
        cursor: pointer;
    }
}

.search-input {
    margin-right: 20px;
    position: relative;
}


.name-icon {
    margin-right: 10px;
    margin-left: 0px;
    color: #fff;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

.icon-section {
    display: flex;
    align-items: center;

    .header-icon {
        &:hover {
            cursor: pointer;
        }
    }
}


